@model FeedbackFriend.Models.GroupedQuestionDetail

@{
    ViewData["Title"] = "Details";
}

<div>
    <h3>Survey Questions</h3>
    <hr />

    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var surveyitem in Model.GroupedQuestions)
            {
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayFor(modelItem => surveyitem.SurveyDetailName)
                            @Html.DisplayFor(modelItem => surveyitem.QuestionCount)
                        </strong>
                    </td>
                </tr>
                @foreach (var questionitem in surveyitem.Questions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => questionitem.QuestionText)
                            @*<a asp-action="Details" asp-route-id="@questionsitem.QuestionId">@questionsitem.QuestionText</a>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>