@model FeedbackFriend.Models.Survey

@{
    ViewData["Title"] = "Edit";
}

<h3>
    Edit Survey     |
    <a asp-action="LoggedIn">Back to List</a>
</h3>

<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyId" />

            <div class="form-group">
                <label asp-for="SurveyName" class="control-label"></label>
                <input asp-for="SurveyName" class="form-control" />
                <span asp-validation-for="SurveyName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7" style="clear: both; padding: 5px; margin: 0; height: 5px; display: block;">
                <label asp-for="Instructions" class="control-label"></label>
                @Html.TextArea("Instructions", null, new { @class = "form-control" })
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7" style="clear: both; padding: 5px; margin: 0; height: 5px; display: block;">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextArea("Description", null, new { @class = "form-control" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<FeedbackFriend.Models.SurveyQuestionsEDITViewModel> questions = ViewBag.Questions;

                                foreach (var question in Questions)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCourses"
                                               value="@question.QuestionId"
                                               @(Html.Raw(question.Assigned ? "checked=\"checked\"" : "")) />
                                        @question.QuestionId @:  @question.QuestionText
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
   