@model IEnumerable<FeedbackFriend.Models.Survey>

@{
    ViewData["Title"] = "LoggedIn";
}

<h3>
    <a asp-action="Create">Create New Survey</a>
</h3>

<table class="table">
    <thead>
        <tr>
            <th width="10%">
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th width="15%">
                @Html.DisplayNameFor(model => model.SurveyName)
            </th>
            <th width="31%">
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th width="31%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurveyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>                        
                <td style="font-weight: bold;">
                    <a asp-action="Details" asp-route-id="@item.SurveyId">EDIT Questions</a>                   
                    <a asp-controller="Questions" asp-action="Create" asp-route-id="@item.SurveyId">ADD Questions</a>
                    <a asp-action="Edit" asp-route-id="@item.SurveyId">EDIT Survey </a>
                    <a asp-action="Delete" asp-route-id="@item.SurveyId">DELETE Survey</a>
                </td>
            </tr>        }
    </tbody>
</table>
