@model FeedbackFriend.Models.AnswerCreateViewModel

@{
    ViewData["Title"] = "Complete";
}

@{ int rowNo = 0; }

<div class="card">
    <div class="card-header" style="background-color: #d2d5d8;">
        <h3>
            Complete Survey:      @Html.DisplayFor(model => model.SurveyName)     |
            <a asp-controller="Surveys" asp-action="LoggedIn">Back to List</a>
        </h3>

        <table class="table card-header" style="background-color: #0062cc; color:white;">
            <tbody>
                <tr>
                    <td style="font-size:small;">@Html.DisplayFor(model => model.Description)</td>
                    <td style="font-size:small;">@Html.DisplayFor(model => model.Instructions)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table card-header">
        <form action="Complete" method="post">

            <div class="form-group">
                @*@Html.LabelFor(x => Model.FocusUserId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-5 offset-1" style="border: 5px solid #0062cc; background-color: #0062cc;">
                    @Html.DropDownListFor(x => Model.FocusUserId, new SelectList(Model.Recipients, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "FocusId" })
                    @Html.ValidationMessageFor(x => x.FocusUserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <table class="table">
                <tbody>

                    @for (int i = 0; i < Model.AnswerQuestionViewModels.Count; i++)
                    {
                        <tr style="background-color: #f0f1f2;">
                            <td>
                                <input type="number" min="1" max="10" asp-for="AnswerQuestionViewModels[i].Response" />

                                @*@Html.EditorFor(model => model.AnswerQuestionViewModels, new { Response = new { type = "number", min = "1", max = "10", @class = "form-control" } })*@

                            </td>
                            <td>
                                @(rowNo += 1).
                                @Html.DisplayFor(modelItem => Model.AnswerQuestionViewModels[i].QuestionText)
                            </td>
                            <td>
                                <input type="hidden" asp-for="AnswerQuestionViewModels[i].QuestionId" />
                            </td>
                            <td>
                                <input type="hidden" asp-for="ResponderUserId" />
                            </td>
                            <td>
                                <input type="hidden" asp-for="FocusUserId" />
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
            <input type="Submit" value="Save" class="col-lg-2 offset-1" style="background-color: #0062cc; font-size:larger; color: white;" />
        </form>
    </div>
</div>
@*<form method="post" action="@Url.Action("Save", "CategoriesController")"></form>*@
