@model FeedbackFriend.Models.ResultsViewModel

@{
    ViewData["Title"] = "Results";
}

<div class="card">
    <div class="card-header" style="background-color: #d2d5d8;">
        <h3>
            Survey:      @Html.DisplayFor(model => model.SurveyName)     |
            <a asp-controller="Surveys" asp-action="LoggedIn">Back to List</a>
        </h3>

        </div>
    <div>
            <h4>ResultsViewModel</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SurveyName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SurveyName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>

        <div>
            <table class="table">
                <thead class="d-table-row">
                    <tr>
                        @*<th></th>*@
                        <th width="3%">My Response</th>
                        <th width="3%">Feedback</th>
                        <th>Question</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupedAnswers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FocusResponse)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuestionAverage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuestionText)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
