@model FeedbackFriend.Models.SurveyQuestionsListViewModel

@{
    ViewData["Title"] = "Create";
}

@{ int rowNo = 0; }

<h3>
    Add Question for Survey:      @Html.DisplayFor(model => model.SurveyName)     |
    <a asp-controller="Surveys" asp-action="LoggedIn">Back to List</a>
</h3>

<table class="table">
    <thead>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.SurveyName)</th>
            <th width="40%">@Html.DisplayNameFor(model => model.Description)</th>
            <th width="40%">@Html.DisplayNameFor(model => model.Instructions)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.SurveyName)</td>
            <td style="font-size:small;">@Html.DisplayFor(model => model.Description)</td>
            <td style="font-size:small;">@Html.DisplayFor(model => model.Instructions)</td>
        </tr>
    </tbody>
</table>
<hr />


<div class="row">
    <div class="col-md-12 d-md-inline-block">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="QuestionId" />
                <input type="submit" value="Add Question to Survey" class="btn btn-primary" />                
            </div>

            <div class="form-group">
                @*<div class="col-md-offset-2 col-md-10">*@
                <div class="col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<FeedbackFriend.Models.QuestionDisplayViewModel> questions = ViewBag.Questions;

                                if (questions != null)
                                {

                                    foreach (var question in questions)
                                    {
                                        if (cnt++ % 1 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        <td>
                                            @(rowNo += 1).
                                        </td>
                                        @:<td>
                                            @Html.DisplayFor(modelItem => question.QuestionText)
                                        @:</td>
                                    }
                                @:</tr>
                            }
                            }
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts
        {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
