@model FeedbackFriend.Models.SurveysViewModel

@{
    ViewData["Title"] = "Create";
}

<table class="table">
    <thead>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.SurveyName)</th>
            <th width="40%">@Html.DisplayNameFor(model => model.Description)</th>
            <th width="40%">@Html.DisplayNameFor(model => model.Instructions)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.SurveyName)</td>
            <td style="font-size:small;">@Html.DisplayFor(model => model.Description)</td>
            <td style="font-size:small;">@Html.DisplayFor(model => model.Instructions)</td>
        </tr>
    </tbody>
</table>
<hr />


<div class="row">
    <div class="col-md-12 d-md-inline-block">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @*<label asp-for="Question.QuestionText" class="control-label"></label>*@
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span> 
            </div>

            <div class="form-group">
                <input type="submit" value="Add Question to Survey" class="btn btn-primary" />
            </div>           
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h5>List of Survey Questions Added</h5>
            </th>
            @*<th><a asp-action="LoggedIn">Back to List</a></th>*@
        </tr>
    </thead>
    @*<tbody>
            // @foreach (var item in Model.Questions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
            </tr>
            }
        </tbody>*@
</table>

<a asp-controller="Home" asp-action="LoggedIn">Back to List of Surveys</a>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

